<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title></title>
</head>
<body style="padding:0;margin:0;">
	<!-- Begin 100% Wrapping Table -->
	<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="margin:0; padding:0;border-collapse:collapse; border-spacing:0;width:100%;">
		<tr>
			<td style="padding:20px 0;">
				<!-- Begin Main Template Table -->					
				<table border="0" cellspacing="0" cellpadding="0" width="800" align="center" style="border-collapse:collapse; border-spacing:0; margin:0; padding:0; width:800px; font-family: Arial, Sans-serif; font-size:12px; margin:0 auto; line-height:1.33;">
					<tr>
						<td>
						<img src="http://{APP_HOST}/images/EmailHeader.png" width="800" height="100" alt="Please set images to always display for our emails" style="display:block;" />
						</td>
					</tr>				
					<tr>
						<td style="background:#f6f6f6;padding:20px 0">
							<!-- Main Content table -->
							<table border="0" cellspacing="0" cellpadding="0" width="800" style="border-collapse:collapse; border-spacing:0; margin:0; padding:0; width:800px; font-family: Arial, Sans-serif; font-size:12px;">
								<tr>
									<!-- Spacing Column -->
									<td width="20" valign="top" style="width:20px;">&nbsp;</td>
									<!-- Main Column -->
									<td width="420" valign="top" style="width:420px; font-family: Arial, Sans-serif; font-size:12px;">
										<h1 style="font-size:18px;margin:0 0 0.5em;padding:0;font-weight:400;">Action Required</h1>
										<p style="margin:0 0 1em;padding:0;">
											You have a new contact request from the website. Details are as follows:
										</p>
										<p style="margin:0 0 1em;padding:0;">
											<table border="0" cellspacing="0" cellpadding="3px" width="420" style="border-collapse:collapse; border-spacing:0; margin:0; padding:3px; width:420px; font-family: Arial, Sans-serif; font-size:12px;">
												<tr>
													<td width="150px"><b>Person:</b></td>
													<td>[person_name]</td>
												</tr>
												<tr>
													<td><b>Trading Name:</b></td>
													<td>[trading_name]</td>
												</tr>
												<tr>
													<td><b>Email Address:</b></td>
													<td>[email]</td>
												</tr>
												<tr>
													<td><b>Mobile Number:</b></td>
													<td>[mobile]</td>
												</tr>
												<tr>
													<td><b>Telephone Number:</b></td>
													<td>[telephone]</td>
												</tr>
												<tr>
													<td><b>Subject:</b></td>
													<td>[subject]</td>
												</tr>
												<tr>
													<td colspan="2"><b>Message:</b></td>
												</tr>
												<tr>
													<td colspan="2">&nbsp;[message]</td>
												</tr>
											</table>
										</p>
									</td>
									<!-- Spacing Column -->
									<td width="40" valign="top" style="width:40px;">&nbsp;</td>
									<!-- Side Column -->
									<td width="300" valign="top" style="width:300px; font-family: Arial, Sans-serif; font-size:12px;">
										<img src="http://{APP_HOST}/images/contact.jpg" width="300px" alt="Content Image" align="left" style="padding:5px;" />
										<h2 style="font-size:18px;margin:20px 3px 0px;padding:0;font-weight:400;">Contact Request</h2>
										<p style="margin:0 0 1em;padding:5px;">
											A user filled in the contact form on the Bid4Cars website. 
											To change the email addres that this notification is sent to 
											please login as an Administrator and change the setting under
											General Settings &gt; Site Configuration.
										</p>			
									</td>
									<!-- Spacing Column -->
									<td width="20" valign="top" style="width:20px;">&nbsp;</td>
								</tr>
							</table>
							<!-- /Main Content Table -->			
						</td>		
					</tr>
					<tr>
						<td style="background:#ececec;padding:10px 0 0;">
							<!-- Begin Footer table -->
							<table border="0" cellspacing="0" cellpadding="0" width="600" style="border-collapse:collapse; border-spacing:0; margin:0; padding:0; width:600px; font-family: Arial, Sans-serif; font-size:12px;">
								<tr>
									<!-- Spacing Column -->
									<td width="20" valign="top" style="width:20px;">&nbsp;</td>
									<!-- Main Column -->
									<td width="560" valign="top" style="width:560px; font-family: Arial, Sans-serif; font-size:12px;">
										<p style="margin:0 0 1em;padding:0;"><b>demo.bid4cars.co.za</b></p>
									</td>
									<!-- Spacing Column -->								
									<td width="20" valign="top" style="width:20px;">&nbsp;&nbsp;</td>
								</tr>
							</table>
							<!-- /End Footer Table -->	
						</td>
					</tr>				
				</table>
				<!-- /End Main Template Table -->
			</td>
		</tr>
	</table>
<!-- /End 100% Wrapping Table  -->	
</body>
</html>
