<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title></title>
</head>
<body style="padding:0;margin:0;">
	<!-- Begin 100% Wrapping Table -->
	<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="margin:0; padding:0;border-collapse:collapse; border-spacing:0;width:100%;">
		<tr>
			<td style="padding:20px 0;">
				<!-- Begin Main Template Table -->					
				<table border="0" cellspacing="0" cellpadding="0" width="800" align="center" style="border-collapse:collapse; border-spacing:0; margin:0; padding:0; width:800px; font-family: Arial, Sans-serif; font-size:12px; margin:0 auto; line-height:1.33;">
					<tr>
						<td>
							<img src="[HeaderImageSource]" width="800" height="100" alt="Please set images to always display for our emails" style="display:block;" />
						</td>
					</tr>				
					<tr>
						<td style="background:#f6f6f6;padding:20px">
							[Body]
						</td>		
					</tr>
					<tr>
						<td style="background:#ececec;padding:10px 0 0;">
							<!-- Begin Footer table -->
							<table border="0" cellspacing="0" cellpadding="0" width="800" style="border-collapse:collapse; border-spacing:0; margin:0; padding:0; width:800px; font-family: Arial, Sans-serif; font-size:12px;">
								<tr>
									<!-- Spacing Column -->
									<td width="20" valign="top" style="width:20px;">&nbsp;</td>
									<!-- Main Column -->
									<td width="380" valign="top" style="width:380px; font-family: Arial, Sans-serif; font-size:12px;">
										&nbsp;
									</td>
									<!-- Spacing Column -->								
									<td width="380" valign="top" align="right" style="width:380px;">
										Click <a href="http://{APP_HOST}/unsubscribe/newsletter">here</a> to unsubscribe from newsletters.
									</td>
									<!-- Spacing Column -->
									<td width="20" valign="top" style="width:20px;">&nbsp;</td>
								</tr>
							</table>
							<!-- /End Footer Table -->
						</td>
					</tr>
					<tr>
						<td>
							<img src="[FooterImageSource]" width="800" height="50" alt="Please set images to always display for our emails" style="display:block;" />
						</td>
					</tr>
				</table>
				<!-- /End Main Template Table -->
			</td>
		</tr>
	</table>
<!-- /End 100% Wrapping Table  -->	
</body>
</html>